/* Grey 50  */
/* Grey 100 */
/* Grey 200 */
/* Grey 300 */
/* Grey 400 */
/* Grey 500 */
/* Grey 600 */
/* Grey 700 */
/* Grey 800 */
/* Grey 900 */
html {
  height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background: #f4f4f1; }

#sample {
  height: 100%; }

#myDiagramDiv {
  width: 100%;
  height: 450px; }

#myDiagramDivButtons {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #1e1e1e;
  vertical-align: middle;
  padding-bottom: 10px;
  height: 38px; }

#previewVariables {
  width: 20%;
  height: calc(100% - 488px);
  display: inline-block;
  float: right;
  overflow: scroll;
  background-color: black;
  color: white;
  padding: 5px; }

#preview {
  width: 80%;
  display: inline-block;
  text-align: center;
  vertical-align: top; }
  #preview .js-previewNoCard {
    margin-top: 100px;
    font-style: italic;
    color: #bac5c6;
    font-size: 3rem;
    text-align: center; }
  #preview .js-previewContainer {
    display: none;
    margin-left: auto;
    margin-right: auto; }
  #preview .js-editTitleText {
    color: #1e1e1e;
    display: inline;
    font-size: 1.5rem;
    border: none;
    cursor: pointer; }
  #preview .js-editTitleField {
    color: #D16103;
    display: inline;
    font-size: 1.5rem;
    border-bottom: 1px solid #D16103;
    display: none; }
  #preview input[type="text"] {
    overflow: scroll; }
  #preview .js-editAnswerType {
    display: inline-block;
    width: 90%; }
  #preview .js-editIconIcon {
    color: #9E9E9E;
    display: inline-block;
    position: absolute;
    width: 0rem; }
  #preview .js-editIconIcon:hover {
    color: #D16103;
    cursor: pointer; }

.js-editIconOptions {
  padding-right: 3rem;
  padding-top: 0.5rem;
  height: 2.2rem;
  width: 5%;
  display: inline-block; }

.iconOption {
  cursor: pointer;
  position: absolute;
  background: transparent;
  box-shadow: 0;
  opacity: 0;
  transition: .5s all;
  display: inline-block; }

#mySavedModel {
  display: none; }

.js-editButtonWrapper {
  display: inline-block; }

.js-editButtonIcon {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 50px;
  overflow: scroll;
  display: inline-block;
  text-transform: uppercase; }

#css-buttonField {
  background-color: #D16103;
  border-bottom: 1px solid white;
  color: white;
  max-width: 75px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  display: none;
  text-transform: uppercase;
  height: 54px;
  cursor: text;
  padding: 0 2rem;
  border-radius: 2px; }

.diagramEditButton, .diagramEditButton:focus {
  background-color: #f4f4f1;
  color: #1e1e1e;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #1e1e1e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 10px;
  min-width: 100px; }

.diagramEditButton:hover {
  background-color: #bac5c6; }

.diagramEditButton:disabled {
  color: #bac5c6;
  border: 1px solid #bac5c6; }

.diagramEditButton:disabled:hover {
  background-color: #f4f4f1; }

.ddButtonWrapper {
  display: inline-block;
  position: relative; }

.ddButton {
  position: absolute;
  display: none;
  cursor: pointer;
  margin: 0px; }
  .ddButton li {
    padding: 2px 6px 2px 6px;
    border-bottom: 0px; }
  .ddButton li:last-child {
    border-bottom: 1px solid #1e1e1e; }

.ddButton.show {
  display: block;
  z-index: 1;
  top: 25px; }

/*# sourceMappingURL=index.css.map */
