<div class="col s12">
  <div class="card">
    <div class="card-content">

      <div class="editQuestionWrapper">
        <h3 class="card-title center-align js-editTitleText">Hello, what is your name?</h3>
        <input type="text" class="card-title center-align js-editTitleField" placeholder="Hello, what is your name?" pattern=".{0,64}"/>
      </div>

      <div class="input-field col s12">
        <div class="js-editIconOptions">
          <i id="selectedIcon" class="material-icons prefix js-editIconIcon">language</i>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">face</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">date_range</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">local_phone</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">mail_outline</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">attach_file</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">attach_money</i></div>
        </div>
        <select class="js-editAnswerType">
          <option value="textfield">Text Field</option>
          <option value="fileupload">File Upload</option>
          <option value="none">None</option>
        </select>
      </div>

      <div class="row center js-buttonWrapper">

      </div>

    </div>
  </div>
</div>
