<div class="col s12" id="STUDENT_NAME_CARD">
  <div class="card">
    <div class="card-content">

      <div class="editQuestionWrapper">
        <h3 class="card-title center-align js-editTitleText">
          Hello, what is your name?
        </h3>
        <input type="text" class="card-title center-align js-editTitleField" readonly="true" placeholder="Hello, what is your name?"/>
        <i class="material-icons md-18 js-editTitleIcon">mode_edit</i>
      </div>

      <div class="input-field col s12">
        <div class="js-editIconOptions">
          <i id="selectedIcon" class="material-icons prefix js-editIconIcon">language</i>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">account_circle</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">date_range</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">local_phone</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">mail_outline</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">attach_file</i></div>
          <div class="iconOption"><i class="material-icons prefix js-editIconIcon">attach_money</i></div>
        </div>
        <input id="STUDENT_NAME" class="js-editAnswerType" type="text" pattern=".{1,}" placeholder="Student's Name" />
      </div>

      <div class="row center">
        <button class="btn-large waves-effect waves-white" disabled="" name="STUDENT_NAME_BUTTON" value="Next" onclick="update_page(
        'STUDENT_NAME',
        'textbox',
        'Next');">
          Next
        </button>
      </div>

    </div>
  </div>
</div>
