<!DOCTYPE html>
<html>
<head>
<title>Developing Justice</title>
<meta name="description" content="TBD" />
<!-- Copyright 1998-2017 by Northwoods Software Corporation. -->
<meta charset="UTF-8">
      <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../static/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../static/css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <script src="../static/js/go.js"></script>
      <script src="../static/js/postback.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="../static/js/indexJs.js"></script>

</head>

<body>
<div id="sample">
  <div id="myDiagramDiv"></div>
  <div id="myDiagramDivButtons">
    <button onclick="addPort('right')">Add Answer</button>
    <button id="SaveButton" onclick="save()">Save</button>
    <button class="js-loadButton">Load</button>
    <button class="js-layoutButton">Layout</button>
  </div>
  <div id="preview">
    <div class="js-previewNoCard"> Click on a card above to edit it.</div>
    <div class="container js-previewContainer">
      {% include 'error_card.html' %}
    </div>
  </div>
  <br>

  <textarea id="mySavedModel">
    {% include 'datum.html' %}
  </textarea>

  </div>
</div>
</body>
</html>
