<!DOCTYPE html>
<html>
<head>
<title>Developing Justice</title>
<meta name="description" content="TBD" />
<!-- Copyright 1998-2017 by Northwoods Software Corporation. -->
<meta charset="UTF-8">
      <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../static/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../static/css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <script src="../static/js/go.js"></script>
      <script src="../static/js/postback.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="../static/js/indexJs.js"></script>

</head>

<body>
<div id="sample">
  <div id="myDiagramDiv"></div>
  <div id="myDiagramDivButtons">
    <button class="diagramEditButton js-addQuestionButton">Add Question</button>
    <button class="diagramEditButton js-removeQuestionButton">Remove Question</button>
    <button class="diagramEditButton js-addAnswerButton">Add Answer</button>
    <button class="diagramEditButton js-removeAnswerButton">Remove Answer</button>
    <div class="ddButtonWrapper">
      <button class="diagramEditButton js-saveButton">Save &#x25BE;</button>
      <ul class="ddButton">
        <li class="diagramEditButton js-saveLocalButton">Download</li>
        <li class="diagramEditButton js-saveRemoteButton">Save to Server</li>
      </ul>
    </div>
    <div class="ddButtonWrapper">
      <button class="diagramEditButton js-loadButton">Load Template &#x25BE;</button>
      <ul class="ddButton">
        <li class="diagramEditButton">Contact Info</li>
        <li class="diagramEditButton">Demographics</li>
        <li class="diagramEditButton">End of Intake</li>
      </ul>
    </div>
    <button class="diagramEditButton js-layoutButton">Fix Layout</button>
  </div>
  <div id="preview">
    <div class="js-previewNoCard"> Click on a card above to edit it here.</div>
    <div class="container js-previewContainer">
      {% include 'card.html' %}
    </div>
  </div>
  <div id="previewVariables">
    Variables listed here.
  </div>
  <br>

  <textarea id="mySavedModel">
    {{currModel}}
  </textarea>

  </div>
</div>
</body>
</html>
